* {
  margin:0;
  padding:0;
  font-family: 'Simplon Norm';
}

body{
  background-color:#f5f6fa;
}

.app-container {
  min-height: 100vh;
  max-height: 100%;
  border: 5px solid #000;
}

/* Headers Container Styles */
.headers-container {
  font-family: 'inter';
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.website-logo {
  width: 30px;
  margin-right: 100px;
  margin-left: 50px;
}

.headers-content-container {
  width: 100%;
  text-align: center;
}

.header-logos-container h2 {
  font-weight: bold;
}

.headers-content-container ul {
  list-style-type:none;
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 50px;
  margin-top: 50px;
}

.header-logos-container {
  width: 400px;
  display: flex;
  gap: 20px;
}

.header-logos-container select {
  outline: none;
  border: 0;
  background-color: transparent;
}

/* Main Container Styles */
.main-container {
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
}

.main-header-container {
  width: fit-content;
  text-align: center;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-container h1 {
  font-size: 50px;
  font-weight: 400;
}

.main-header-container p {
  width: 55%;
}

.filter-control-container {
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.filter-content div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.filter-content div > button {
  background-color: transparent;
  border: 0;
  color: #888792;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.filter-control-container select {
  outline: none;
  border: 0;
  background-color: transparent;
}

.filter-control-container select > option {
  outline: none;
  border: 0;
}

/* Product container */
.products-list-container {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-container {
  list-style: none;
  padding: 0;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.product-container img {
  height: 200px;
  width: 200px;
}

.product-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-container p {
  font-size: 15px;
  width: 80%;
  text-align: left;
}

.product-container button {
  background-color: transparent;
  border: 0;
  text-align: center;
}

.product-container button:hover {
  cursor: pointer;
  outline: none;
}