* {
  margin:0;
  padding:0;
  font-family: 'Simplon Norm';
}

body{
  background-color:#f5f6fa;
}

.app-container {
  min-height: 100vh;
  max-height: 100%;
  border: 5px solid #000;
}

/* Headers Container Styles */
.headers-container {
  font-family: 'inter';
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.website-logo {
  width: 30px;
  margin-right: 100px;
  margin-left: 50px;
}

.headers-content-container {
  width: 100%;
  text-align: center;
}

.header-logos-container h2 {
  font-weight: bold;
}

.headers-content-container ul {
  list-style-type:none;
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 50px;
  margin-top: 50px;
}

.header-logos-container {
  width: 400px;
  display: flex;
  gap: 20px;
}

.header-logos-container select {
  outline: none;
  border: 0;
  background-color: transparent;
}

/* Main Container Styles */
.main-container {
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
}

.main-header-container {
  width: fit-content;
  text-align: center;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-container h1 {
  font-size: 50px;
  font-weight: 400;
}

.main-header-container p {
  width: 55%;
}

.filter-control-container {
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.filter-content div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.filter-content div > button {
  background-color: transparent;
  border: 0;
  color: #888792;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.filter-control-container select {
  outline: none;
  border: 0;
  background-color: transparent;
}

.filter-control-container select > option {
  outline: none;
  border: 0;
}

.main-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Filter Container Styles */
.filter-content-container {
  width: 300px;
  margin-right: 10px;
}

.customizable-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
  font-weight: 600;
}

.customizable-container input[type="checkbox"] {
  accent-color: rgb(68, 68, 216);
  width: 18px;
  height: 18px;
}

.filter-content-container ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.filter-group {
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
}

.filter-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.filter-group select:focus {
  outline: none;
  border-color: #fff;
  background-color: transparent;
}

/* Product container */
.products-list-container {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-container {
  list-style: none;
  padding: 0;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.product-container img {
  height: 200px;
  width: 200px;
}

.product-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-container p {
  font-size: 15px;
  width: 80%;
  text-align: left;
}

.product-container button {
  background-color: transparent;
  border: 0;
  text-align: center;
}

.product-container button:hover {
  cursor: pointer;
  outline: none;
}

/*  Footer Container Styles */
.footer {
  background: #000;
  color: #fff;
  padding: 60px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer h4,
.footer h3 {
  margin-bottom: 12px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer p,
.footer li,
.footer small {
  font-size: 13px;
  color: #ccc;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.newsletter {
  max-width: 500px;
}

.newsletter-input {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.newsletter-input input {
  flex: 1;
  padding: 10px;
  border: none;
  width: 500px;
}

.newsletter-input button {
  padding: 10px 18px;
  background: transparent;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
}

.contact {
  max-width: 350px;
  line-height: 2;
}

.currency {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 8px 0;
}

.currency img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.flag {
  font-size: 18px;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 40px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col li:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin: 12px 0 20px;
}

.social-icons span {
  width: 28px;
  height: 28px;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payments {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.payments img {
  padding: 6px 10px;
  border-radius: 8px;
  background: #111;
  font-size: 12px;
  height: 23px;
  width: 40px;
}

.accepts-title {
  margin-top: 20px;
}

copyright {
  text-align: center;
}

.footer > .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #777;
}
